@charset "UTF-8";
/* CSS Document */

.blurb{font-size: 1 em;
line-height:24px;
text align: center;
padding-left: 25%;
padding-right: 25%;

}

.alternate{
	text align: center;
}

.logo-custom{
	padding-right:  0;
	margin-right: -177px;

}

.profile-img{
	width: 100%;
}

.submit-but{
	margin:-12px 0 0 10px;
}

.tomasz-picture{
	background-image:url(/images/landing/tomasz2.jpg);
	background-size:100% 100%;
	opacity: 100%;

}
.ali-picture{
	background-image:url(/images/landing/ali2.jpg);
	opacity:1;filter:alpha(opacity=1);
	background-size:100% 100%;

}
.sergey-picture{
	background-image:url(/images/landing/sergey2.jpg);
	opacity:1;filter:alpha(opacity=1);
	background-size:100% 100%;

}