ol {
font-size: 10px;

font-weight: 500pt;

}

li {
    margin-bottom: 15px;
}


p {font-size: 11px;
    margin: 1px;
    line-height: 22px;
}


.square-img img{
	width:50px;
}

.info-align {
	margin-top: -30px;
}

.login-form {
	width:460px;
	height: 200px;
	position:absolute;
	top:calc(50% - 200px);
	top:-webkit-calc(50% - 200px);
	left:calc(50% - 230px);
	left:-webkit-calc(50% - 230px);
	padding:20px 0px;
    color:white;
}

.login-form .logo{
    width:400px;
    margin-left:30px; 
}

.login-form p {
    font-size: 12px; 
    margin-left: 5%;
    margin-top: 30px;
}

.login-form a {
    font-size: 12px; 
    margin-left: 5%;
    margin-top: 30px;
    color:white;
}

.login-form .input-field {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
    background-color: #ccc;
    color: #666;
    font-size: 20px;

    width:90%;
    margin-left: 5%;
}

.background-class {
    height: 100%;
    width: 100%;
    background-color: #4A4A4A;
}



.block-flat {
	margin: 7px 7px 14px 7px;

}

.cl-vnavigation-custom{
    font-size: 24px;
    font-weight: 700;

}

.cl-vnavigation-custom li {margin: 0;}



.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;

}


select {
  
    -webkit-user-select: none;
    -moz-user-select: none;

    background-color: #FFF; /* fallback color if gradients are not supported */
    background-position: center right;
    border-radius: 0px;
    float: right;

    color: #555;
    font-size: 10px;
    font-weight: 100px;

    margin: 0 0 10px 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .users { background-color: #ff00ff; }
.legend .bots { background-color: #00ffff; }
.legend .indexing { background-color: #000000; }
.legend .automated { background-color: #0000ff; }
.legend .dev { background-color: #0000ff; }









