.block-flat-details {
	padding: 20px 50px 20px 50px;
	box-shadow: 0;
}

.detail-text{
	font-size: 18px;
	line-height: 32px;
}

.header-details {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700px;
}