.color-box{
    padding-right: 15px;
}

.box-yellow{
    background-color: #ffef3e;
    color: #ffef3e;
    padding-right: 15px;
}

.box-purple{
    background-color: #de25ff;
    color: #de25ff;
    padding-right: 15px;
}

.box-green{
    background-color: #31d126;
    color: #31d126;
    padding-right: 15px;
}

.box-lightblue{
    background-color: #7792c7;
    color: #7792c7;
    padding-right: 15px;
}

.box-darkblue{
    background-color: #3025ff;
    color: #3025ff;
    padding-right: 15px;
}

.box-orange{
    background-color: #f58236;
    color: #f58236;
    padding-right: 15px;
}

.box-pink{
    background-color: #ffa3f1;
    color: #ffa3f1;
    padding-right: 15px;
}

.color-box-text{
    margin-left: 10px;
    font-size: 16px;
}

.box-menu-top{
    display:block;
}

.content-available-box{
    background-color: #fff;
    margin-top: 20px;
    color: #000;
    padding: 15px;
}

.content-available-box h3{
    margin-top: 3px;
    margin-bottom: 20px;
}

.url-box{
    background-color: #fff;
    width: 270px;
    font-size: 16px;
    color: #000;
    padding: 10px;
}

.box-attributes{
    float:left;
    margin-left: 50px;
}

.box-htmldisplay{
    float:left;
    margin-left: 20px;
}

.box-htmldisplay img{
    width: 560px;
}

.box-menu{
    height: 120px;
    width: 270px;
    background-color: #BFDAD7;
    float: left;
    display: table-cell;
    margin-left: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 20px;
}

.box-menu p{
    font-size: 14px;
}

.box-menu:hover{
    background-color: #f58236; 
}

.boxrows{
    list-style-type: none;
    display:table;
}

.signup-nav{
    background-color:  #555;
    padding-top: 15px;
    height: 64px;
    background: #555 url(/images/dashboard/logo.png) no-repeat 15px 19px;
}

#signupinblock{
    border: None;
    box-shadow: None;
}

#signuplogin{
    padding-top: 120px;
    padding-left: 200px;
    padding-bottom: 50px;
}

#signup{
    float: left;
    border-right: solid #000 1px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

#welcome-header{
    color: #f58236;
}

#login{
    float: left;
    padding-left: 50px;
}

#signuppage{
    background-color: #fff;
}

.call_title{
    font-weight: 100;
    font-size: 30px;
    
}

.call_section_title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}


.side-user_custom {
    font-size: 14px;
    color: #333;
    padding-top: 5 px;

}


.square-img img{
    width:50px;
}

.info-align {
    margin-top: -30px;
}


.info-custom{
    font-weight: 700;
    text-transform: uppercase;   
}

.cl-mont_custom{
    background-color: #333;
    color:#FFF;
    padding-bottom: 0;
    height: calc(100% + 15px);
}


.sidebar_title{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 7px 10px 25px;
}

.cl-sidebar_custom{
    background: #FFF;
    position:fixed;
    width:280px;
    height:100%;   
}

.cl-sidebar_custom_2{
    background: #FFF;
    width:280px;
    height:100%; 
}

.cl-vnavigation-custom li a{
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    padding: 5px 7px 5px 25px;
}


.cl-vnavigation-custom li a:hover {
  color: #333;
  background-color: rgba(245,130,53,.85);
}


.side_nav_userinfo{
    font-size: 12px;
    color: rgba(25, 0, 0,.9);
    padding-top: 5px;
    
}
.main_header {
    font-size: 36px;
    font-weight:100;
}

#api-content, website-preview {
	min-height: 280px;
	padding-top:0;
	position: relative;
    background-color: #BFDAD7;

}

.api-request {
    padding:10px;
    font-size: 24px;
}

/*.api-request:hover{
    background-color: rgba(122,203,190,.3);
}
.api-request:hover .api-call-hover{
    background-color: rgba(122,203,190,.3);
} */

.accord-pad{
    padding:10px;
}

.input-api {

    -webkit-user-select: none;
    -moz-user-select: none;

    background-color: #333; /* fallback color if gradients are not supported */
    background-position: center right;
    border-radius: 0px;
    float: right;

    color: #FFF;
    font-size: 12px;
    font-weight: 100px;

    
	width:50%;
  	margin: 0 0 10px 0;
    overflow: scroll;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#api-content p {font-size: 12px; line-height: 18px}
#api-content select {font-size: 12px}

.api-btn{
	margin-top:10px; 
	clear:both;
	float:right;
    background-color: rgba(70, 70, 70, 40);
}

.check-select th {
    text-align: center;
    background-color: rgb(74, 74, 74);
    color:white;
    line-height: 30px;
    border: 1px solid #DADADA;
    font-weight: normal;
}
.check-select td {
    background-color: white;
    color:inherit;
}

.split-preview {
    cursor:pointer;
    background-color:transparent; 
    width: -webkit-calc(100% - 60px);
    width:         calc(100% - 60px); 
    height:100%; 
    height: -webkit-calc(100% - 110px);
    height:         calc(100% - 110px); 
    position: absolute;    
    top: -webkit-calc(0% + 85px);
    top:         calc(0% + 85px);
}
.split-preview table {width:100%;height: 100%}
.split-preview tr {background-color:transparent;}
.split-preview td {
    border:0px solid black;
    height: 33%;
    width: 33%;
    background-color:white;
    opacity: 0.5;
    padding:0;
}

.api-call {
    background-color: #BFDAD7;
    padding: 5px 10px;
    font-size: 12px;

}

.response-overflow{
    overflow:scroll;
    width:100%;
    height:200px;
}

.api-description p {
    color:  #FFF;
    font-size: 14px;
    font-weight: 100;
}


.documentation_table {
    margin:0px;
    padding:0px;
    width:100%;
    border:1px solid #FFF;
    
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;

}.documentation_table table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.documentation_table tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.documentation_table table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.documentation_table table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.documentation_table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.documentation_table tr:hover td{
    background-color:#BFDAD7;
        

}
.documentation_table td{
    vertical-align:left;
    background-color:#333;
    border:1px solid #FFF;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:10px;
    font-size:14px;
    font-family: Helvetica, Arial;
    font-weight:normal;
    color:#FFF;
}.documentation_table tr:last-child td{
    border-width:0px 1px 0px 0px;
}.documentation_table tr td:last-child{
    border-width:0px 0px 1px 0px;
}.documentation_table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.documentation_table tr:first-child td{
        background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");  background: -o-linear-gradient(top,#ffffff,ffffff);

    background-color:#ffffff;
    border:none;
    text-align:center;
    border-width:0px 0px 0px 0px;
    font-size:16px;
    font-family:Helvetica, Arial;
    font-weight:bold;
    color:#333333;
}
.documentation_table tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #ffffff 5%, #ffffff 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");  
    background: -o-linear-gradient(top,#ffffff,#ffffff);

    background-color:#ffffff;
}


.content_custom {
     margin-left: 280px;
     width: auto;
     position: relative;
     overflow: auto;
     z-index: 1;
     min-height:100%;
}

.settings_table {
    margin:0px;
    padding:0px;
    width:100%;
    border:1px solid #000000;
    text-align:left;
    
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.profile_table table{
    border-collapse: collapse;
        border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.profile_table tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.profile_table table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.profile_table table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.profile_table tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.profile_table tr:hover td{
    
}
.profile_table tr:nth-child(odd){ background-color:#333; }
.profile_table tr:nth-child(even)    { background-color:#333; }.profile_table td{
    vertical-align:middle;
    
    
    border:0px solid #000000;
    border-width:0px 0px 0px 0px;
    text-align:left;
    padding:24px;
    font-size:14px;
    font-family:Arial;
    font-weight:normal;
    color:#ffffff;
}.profile_table tr:last-child td{
    border-width:0px 0px 0px 0px;
}.profile_table tr td:last-child{
    border-width:0px 0px 0px 0px;
}.profile_table tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}
.profile_table tr:first-child td{
        background:-o-linear-gradient(bottom, #333 5%, #333 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333), color-stop(1, #333) );
    background:-moz-linear-gradient( center top, #333 5%, #333 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#cccccc");  background: -o-linear-gradient(top,#333,cccccc);

    background-color:#333;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 0px 0px;
    font-size:14px;
    font-family:Arial;
    font-weight:normal;
    color:#fff;
}
.profile_table tr:first-child:hover td{
    background:-o-linear-gradient(bottom, #333 5%, #333 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333), color-stop(1,#333) );
    background:-moz-linear-gradient( center top, #333 5%, #333 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#cccccc");  background: -o-linear-gradient(top,#333,cccccc);

    background-color:#333;
}
.profile_table tr:first-child td:first-child{
    border-width:0px 0px 0px 0px;
}
.profile_table tr:first-child td:last-child{
    border-width:0px 0px 0px 0px;
}

.container-custom{
    position:absolute;
    overflow: true;
    height: 100%;
    width: -webkit-calc(100% - 280px);
    width:         calc(100% - 280px);
}

.block-flat-apitool{
    background-color: transparent;
    border: 0;
    box-shadow: none;
}
