
    <!-- NAVIGATION -->
    <nav class="fixed-top fixed-visable" id="navigation">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 center">
                    <!-- LOGO -->
                    <a class="brand pull-left" href="../../">
                        <img src="../../assets/images/nav_logo.png" alt="Clicktree">
                    </a>
                    <!-- END LOGO -->

                    <!-- MOBILE MENU BUTTON -->
                    <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <!-- END MOBILE MENU BUTTON -->
                    
                    <!-- MAIN MENU -->
	               	<ul id="main-menu" class="nav-collapse collapse">
	                    <li><%= link_to "Home", {:action => "index", :anchor => "page-welcome"} %></li>
	                    <li><a href="home#page-features">What</a></li>
	                    <li><a href="home#page-about">Who</a></li>
	                    <li><a href="home#page-contact">Contact</a></li>
	                    <li><%= link_to "Blog", :action => "blog" %></li>
	                
	                </ul>
                    <!-- END MAIN MENU -->
                    
                    <!-- SOCIAL ICONS -->
                    <div class="social-icons hover-big pull-right">
                        
                        <a href="http://www.twitter.com/clicktree" class="sicon-twitter"><i>Twitter</i></a>
                        <a href="http://www.facebook.com/clicktree" class="sicon-facebook"><i>Facebook</i></a>
                        
                    </div>
                    <!-- END SOCIAL ICONS -->
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAVIGATION -->
    
    <!-- PAGE | BLOG -->
    <div class="pages page-blog-list" id="page-blog-list">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Thoughts</h4>
                <h1>Clicktree Blog</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <div class="input-append">
                          <input class="span5" id="appendedInputButton" type="text" placeholder="Search Blog">
                          <button class="btn btn-primary sicon-search sicon-white" type="button"><i>Search</i></button>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <div class="row-fluid">
                <div class="span8 blog-details">
                  <!-- Article -->
                    <article>
                
                        <!-- Blog title -->
                        <h5>
                            The Value of Data<br/>
                            <small>Posted By Alison Servis <a href="www.clicktreelabs.com">Clicktree</a>, February 23, 2014, in <a href="#">Progress Update</a></small>
                        </h5>

                        <p>
                            Lorem ipsizzle dolizzle sit amizzle, cool adipiscing elit. Shiznit sapizzle velizzle, go to hizzle yo, suscipit quis, gravida vizzle, gangsta. Stuff gangster tortizzle. Sizzle erizzle. For sure izzle dolor dapibizzle the bizzle tempizzle that's the shizzle. Mauris pellentesque nibh sheezy turpizzle. Dizzle izzle shit. Pellentesque eleifend rhoncizzle nisi. In break yo neck, yall the bizzle platea dictumst. Phat dapibizzle. Dang tellizzle yippiyo, pretizzle crunk, mattizzle shizzlin dizzle, eleifend vitae, da bomb. Boom shackalack suscipit. Integizzle sempizzle velit sizzle we gonna chung.
                        </p>
                        <!--<a href="blog_1.html">
                            <img src="../../assets/images/team.jpg"> 
                        </a>-->
  
                        <p>
                           Donizzle posuere auctizzle crunk. Phasellizzle black elizzle cool mah nizzle that's the shizzle owned. Bling bling a erat. Vestibulizzle in its fo rizzle things dope fo tristique. Nunc izzle dizzle sizzle amet eros nizzle porta. Doggy velizzle tortizzle, pot daahng dawg, black quis, adipiscing check it out, dui. velizzle fizzle, aliquizzle crunk, pharetra nizzle, phat doggy, hizzle. Vivamus neque. Black lorem. Shiznit vitae nizzle ut daahng dawg commodo doggy. Gangster izzle augue crackalackin nibh shut the shizzle up mattizzle. You son of a bizzle dope sapien nizzle ghetto. Suspendisse uhuh ... yih! rizzle, sollicitudizzle sizzle, mah nizzle izzle, uhuh ... yih! nec, justo. Fizzle faucibus porttitizzle bow wow wow. Nunc feugizzle, bling bling gangsta ornare tempizzle, gizzle metus doggy gangsta, egizzle i saw beyonces tizzles and my pizzle went crizzle boom shackalack enim izzle lorem. Phasellizzle for sure leo, imperdiet izzle, tempizzle crunk, gizzle in, sapizzle. Hizzle cool magna daahng dawg mammasay mammasa mamma oo sa. Gangster ante nibh, suscipizzle sheezy, fo shizzle et, rutrum pimpin', velizzle. Yo mamma a crackalackin. Fo shizzle non magna owned amizzle risizzle iaculis dawg.<br/>
                        </p>
                        <p>
                           Shiz commodo crazy ut urna. You son of a bizzle congue. Vestibulum viverra gangsta dui. Yo sit you son of a bizzle purus tellivizzle bizzle own yo' condimentum. Rizzle things. Nunc at pizzle vitae purizzle tincidunt aliquizzle. Sizzle you son of a bizzle dope sizzle. In ghetto erat ma nizzle da bomb. Quisque malesuada. Nam vitae tellus sizzle diam mollizzle you son of a bizzle. Nulla crackalackin. Gangster quizzle that's the shizzle a massa check it out pulvinar. Fizzle ghetto dui hendrerizzle fo shizzle. Crizzle rizzle break it down sizzle tellizzle. Etiam pretium purus non dui. Maecenizzle dope away purizzle.
                        </p>
                        
                        
                        <!-- Blog comments 
                        <div class="comments">
                            <a href="#">4 comments</a>
                        </div> -->
                    </article>

                </div>      

                <div class="span3 blog-list-right pull-right">
                   <!-- Latest blog posts block -->
                                     <!-- Tags -->
                    <div class="block">
                            <h6>Categories</h6>
                            <nav class="submenu">
                                <ul>
                                    <li>
                                        <a href="./blog.html" class="active">All</a>
                                    </li>
                                    <li>
                                        <a href="./blog.html">Technology</a>
                                    </li>
                                    <li>
                                        <a href="./blog.html">Design</a>
                                    </li>
                                    <li>
                                        <a href="./blog.html">Future trends</a>
                                    </li>
                                    <li>
                                        <a href="./blog.html">Progress Update</a>
                                    </li>
                                    <li>
                                        <a href="./blog.html">Other</a>
                                    </li>
                                </ul>
                            </nav>
                    </div> 
                   
                    <div class="block">
                        <h6>Recent Posts</h6>
                            <ul class="simple-link-list">
                                <li>
                                    <a href="blog_1.html" class="active">The Value of Data</a>
                                </li>
                                
                            </ul>
                    </div>

                        
                  

                        
                        <!-- Twitter -->
                    <div class="block">
                            <h6>Twitter</h6>
                            <div class="twitterfeed"></div>
                    </div> 
                </div>
            </div>
        </div>
    </div>


       
    <!-- END PAGE | BLOG -->
    
    


    
    <!-- JQUERY -->
    <script src="../../assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    
    
    <!-- TWITTER BOOTSTRAP -->
    <script src="../../assets/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
        <script src="../../assets/js/bootstrap/html5shiv.js"></script>
    <![endif]-->
    
    
    <!-- PLUGINS -->
    <script src="../../assets/js/plugins/jquery.responsivevideos.min.js" type="text/javascript"></script>
    <script src="../../assets/js/plugins/jquery.tweet.min.js" type="text/javascript"></script>
        
    
    <!-- INITIALIZE -->
    <script src="../../assets/js/application/application-blog-list.min.js" type="text/javascript"></script>
    
    
    <!-- GOOGLE ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44061294-1', 'gridelicious.net');
        ga('send', 'pageview');
    </script>
