<div class="howitworks-title">
    <div class="title">
        <h2>How Clicktree works</h2>
        <ul>
            <li><img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis"></li>
        </ul>

    </div>
</div>

<div class="howitworks-details">
    <div class="right-detail">
        <img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis">
        <div class="detail-content">
            <h5>THREE LINES OF CODE TO GET STARTED</h5>
            <p>To get started, insert three lines of code to call our API and send us information about you web traffic. It's that simple.</p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="left-detail">
        <div class="detail-content">
            <h5>HISTORICAL & REAL-TIME TRAFFIC ANALYSIS</h5>
            <p>We collect your data logs and apply our machine learning algorithm to analyze your web traffic and detect bots.</p>
        </div>
        <img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis">
    </div>
    <div style="clear:both"></div>
    <div class="right-detail">
        <img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis">
        <div class="detail-content">
            <h5>TRAFFIC ANALYTICS & BOT DETECTION</h5>
            <p>We show how much of your traffic is real users and how much is scraping. You might be surprised to know that more than 50% of your traffic could be bots.</p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="left-detail">
        <div class="detail-content">
            <h5>HISTORICAL & REAL-TIME TRAFFIC ANALYSIS</h5>
            <p>We collect your data logs and apply our machine learning algorithm to analyze your web traffic and detect bots.</p>
        </div>
        <img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis">
    </div>
</div>
