<div class="howitworks-title">
    <div class="title">
        <h2>How Clicktree works</h2>
        <ul>
            <li><img class="img-circle profile-img" img src="/images/landing/how_it_works-01.png" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/how_it_works-02.png" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/how_it_works-03.png" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/how_it_works-04.png" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/how_it_works-05.png" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/how_it_works-06.png" alt="Alison Servis"></li>
            <li><img class="img-circle profile-img" img src="/images/landing/how_it_works-07.png" alt="Alison Servis"></li>
        </ul>

    </div>
</div>

<div class="howitworks-details">
    <div class="right-detail how-it-works-1">
        <img class="img-circle profile-img" img src="/images/landing/how_it_works-01.png" alt="Alison Servis">
        <div class="detail-content">
            <h5>THREE LINES OF CODE TO GET STARTED</h5>
            <p>To get started, insert three lines of code to call our API and send us information about you web traffic. It's that simple.</p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="left-detail how-it-works-2">
        <div class="detail-content">
            <h5>HISTORICAL & REAL-TIME TRAFFIC ANALYSIS</h5>
            <p>We collect your data logs and apply our machine learning algorithm to analyze your web traffic and detect bots.</p>
        </div>
        <img class="img-circle profile-img" img src="/images/landing/how_it_works-02.png" alt="Alison Servis">
    </div>
    <div style="clear:both"></div>
    <div class="right-detail how-it-works-3">
        <img class="img-circle profile-img" img src="/images/landing/how_it_works-03.png" alt="Alison Servis">
        <div class="detail-content">
            <h5>TRAFFIC ANALYTICS & BOT DETECTION</h5>
            <p>We show how much of your traffic is real users and how much is scraping. You might be surprised to know that more than 50% of your traffic could be bots.</p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="left-detail how-it-works-4">
        <div class="detail-content">
            <h5>PROTECTION AGAINST BOTS</h5>
            <p>We detect and blacklist bots scraping your content. We turn your scrapers into partners by redirecting them to your API.</p>
        </div>
        <img class="img-circle profile-img" img src="/images/landing/how_it_works-04.png" alt="Alison Servis">
    </div>
    <div style="clear:both"></div>
    <div class="right-detail how-it-works-5">
        <img class="img-circle profile-img" img src="/images/landing/how_it_works-05.png" alt="Alison Servis">
        <div class="detail-content">
            <h5>INSTANTLY DEPLOYED API</h5>
            <p>To monetize your traffic and distribute your content, we build an API from your web application. No need to access your servers or databases.</p>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="left-detail how-it-works-6">
        <div class="detail-content">
            <h5>DEVELOPERS DESIGN AND DOCUMENT YOUR API</h5>
            <p>No research needed. Developers come to our platform to design APIs from your content. We deploy your API and you’re in total control of content flow.</p>
        </div>
        <img class="img-circle profile-img" img src="/images/landing/how_it_works-06.png" alt="Alison Servis">
    </div>
    <div style="clear:both"></div>
    <div class="right-detail how-it-works-7 ">
        <img class="img-circle profile-img" img src="/images/landing/how_it_works-07.png" alt="Alison Servis">
        <div class="detail-content" id="detail-content-last">
            <h5>API MANAGEMENT & ANALYTICS</h5>
            <p>Once your API is up and running, you know who uses your content and which content is popular. You’re also able to charge developers for using your content.</p>
        </div>
    </div>
</div>
