
<!-- NAVIGATION -->
<nav class="fixed-top" id="navigation">
    <div class="container">
        <div class="row-fluid">
            <div class="span12 center alternate">
                <!-- LOGO -->
                <a class="brand pull-left logo-custom" href="./">
                    <img src="/images/landing/nav_logo.png" width="100" height="50" alt="Clicktree">
                </a>
                <!-- END LOGO -->

                <!-- MOBILE MENU BUTTON -->
                <div class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <!-- END MOBILE MENU BUTTON -->
                
                <!-- MAIN MENU -->
                <ul id="main-menu" class="nav-collapse collapse">
                    <li><a href="#page-welcome">Home</a></li>
               
                    <li><a href="#page-features">What</a></li>
                    <li><a href="#page-about">Who</a></li>
                 
                    <li><a href="#page-contact">Contact</a></li>
                </ul>
                <!-- END MAIN MENU -->
                
            </div>
        </div>
    </div>
</nav>
<!-- END NAVIGATION -->

<!-- PAGE | WELCOME -->
<div class="pages white paralax page-welcome" id="page-welcome">
    <div class="overlay"></div>
    <!-- Centralized content -->
    <div class="centralized">
        <div class="container">
            <div class="row-fluid">
                <div class="span12 center">
                    <div class="line-divider" id="welcome-messages">
                        <img src="/images/landing/CTlogowhite.png" width="440" height="440" alt="Clicktree">
                    </div>
                <div class="tagline">
                    <p>A virtual API to monetize high traffic for data-rich websites</p>
               
                   
                 </div>
                    <!--    <div class="social-icons sicon-white bordered">
                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                        <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                        <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE | Welcome -->

    
   
 <!-- PAGE | FEATURES MORE SPECIFIC  -->
<div class="pages white paralax page-features" id="page-features">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Our Product</h4>                
            <h1>What We Do</h1>
        </header>
        <!-- End Header -->

        <!-- Article -->
        <article>
            <!-- Features blocks -->
            <div class="row-fluid">
                <div class="span4 center">
                    <img src="images/landing/about1.png" width="400" height="200">
                    <h5>Detect </h5>
                    <p class="smallFontBy08 cutBy10">Using machine learning to analyze your traffic, we use behavior trends to detect web scraping bots and from where they originate. </p>
                </div>
                <div class="span4 center">
                    <img src="images/landing/about2.png" width="400" height="200">
                    <h5>Present</h5>
                    <p class="smallFontBy08 cutBy10">We present your traffic to you in an easily digestable dashboard so that you can understand who's scraping your data.</p>
                </div>
                <div class="span4 center">
                    <img src="images/landing/about3.png" width="400" height="200">
                    <h5>Partner</h5>
                    <p class="smallFontBy08 cutBy10">We turn web scraping attempts to a competitive advantage by capping bot access and putting you in touch with scrapers to create mutually beneficial relationships.</p> 
                </div>
            </div>
            <br/>
            <br/>
            
        </article>
        <!-- End Article -->
    </div>
</div>

<!-- END PAGE | FEATURES -->




<!-- PAGE | ABOUT -->
<div class="pages page-about" id="page-about">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Our Team</h4>
            <h1>Who We Are</h1>
            <div class="row">
                <div class="span8 offset2">
                    
                </div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Article -->
        <article>
            <!-- List of people and description with their contact details which are visable on hover -->
            <ul class="thumbnails about-items">
                <li class="span4 center">
                     <div class="item">
                        <!-- Team member image -->
                        <img class="img-circle profile-img" img src="/images/landing/sergey.jpg" alt= "Sergey Astretov">
                        
                        <!-- Team member details, activated on hover -->
                        <div class="about-overlay img-circle sergey-picture" style="opacity:1;filter:alpha(opacity=1);">
                            <div class="social-icons sicon-white">
                                
                                <a href="https://twitter.com/sergeiest" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="http://www.linkedin.com/in/sergeyastretsov" class="sicon-linkedin"><i>LinkedIn</i></a>
                                
                            </div>
                        </div>
                    </div>
                    
                    <!-- Team member name and function -->
                    <h5>
                      Sergey Astretsov<br/>
                        <small>CEO & Founder</small>
                    </h5>
                    
                    <!-- Team member short info -->
                    <p class="smallFontBy08">Sergey has his MS in Math/CS from Moscow State and MBA from Carnegie Mellon. He has experience using machine learning for fraud detection and working with VC funds. </p>
                </li>
                <li class="span4 center">
                    <div class="item">
                        <img class="img-circle profile-img" img src="/images/landing/tomasz.jpg" alt="Tomasz Bacewicz">
                        <div class="about-overlay img-circle tomasz-picture" style="opacity:1;filter:alpha(opacity=1);">
                            <div class="social-icons sicon-white"> 
                                <a href="http://www.linkedin.com/pub/tomasz-bacewicz/34/188/999" class="sicon-linkedin"><i>LinkedIn</i></a>

                            </div>
                        </div>
                    </div>
                    
                    <h5>
                        Tomasz Bacewicz<br/>
                        <small>CTO & Founder</small>
                    </h5>
                    <p class="smallFontBy08">Tomasz graduated with a BS and MS in Electrical Engineering. Before Clicktree, he developed into a generalist developer by getting involved with startups in the Bay Area.</p>
                </li>
                <li class="span4 center">
                    <div class="item">
                        <img class="img-circle profile-img" img src="/images/landing/ali.jpg" alt="Alison Servis">
                        <div class="about-overlay img-circle ali-picture">
                            <div class="social-icons sicon-white">
                              
                                <a href="http://twitter.com/ajservis" class="sicon-twitter"><i>Twitter</i></a>
                                <a href="http://www.linkedin.com/pub/alison-servis/21/110/634" class="sicon-linkedin"><i>LinkedIn</i></a>
                                
                            </div>
                        </div>
                    </div>
                    
                    <h5>
                        Alison Servis<br/>
                        <small>CPO & Founder</small>
                    </h5>
                    <p class="smallFontBy08"> Alison received her Masters of Design from the Carnegie Mellon University School of Design. She specializes in UX design and research and content strategy. </p>
                </li>
                
                            </div>
                        </div>
                    </div>
                    
                   
                </li>
            </ul>
        </article>
        <!-- End Article -->
    </div>
</div>
<!-- END PAGE | ABOUT -->



<!-- PAGE | CONTACT -->
<div class="pages black-bg white page-contact" id="page-contact">
    <div class="container">
        <!-- Header -->
        <header>
            <h4 class="line-divider">Contact</h4>
            <h1>Get in Touch</h1>
            <div class="row">
                <div class="span8 offset2">
                    <p>
                        We're working hard to get our prototype up and running. If you're interested in learning more about Clicktree, we'd love to hear from you.
                    </p>
                </div>
            </div>
        </header>
        <!-- End Header -->
        
        <!-- Start Article -->
        <article>
            <div class="row-fluid">
                <!-- Contact form -->
                <div class="span5" style="margin:5% 0 0 5%">
                	<img src="/images/landing/CTlogowhite.png" width="440" alt="Clicktree">
                   
                </div>
                <!-- End Contact form -->
                <!-- Contact information -->
                <div class="span5 offset1"  style="margin:0% 0% 0 10%">
                	 <h5>Sign up for News</h5>
                    <form action="http://clicktreelabs.us3.list-manage1.com/subscribe/post?u=1724c0fd92ed35a8752e26e5b&amp;id=4d4d8b88ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                        <input type="email" name="EMAIL" class="span8 required email" id="mce-EMAIL" placeholder="Email" required>
                        
                        <button type="submit" class="btn btn-primary submit-but">Submit</button>
                    </form>
                    
                    <h5>Contact Us</h5>
                   
                    
                    <div class="media">
                        <div class="social-icons sicon-white pull-left">
                            <a href="#" class="sicon-mail"><i>email</i></a>
                        </div> 
                        <div class="media-body smallFontBy08">
                            team@clicktreelabs.com
                        </div>
                    </div>
                    
                    <br/>
                    <br/>
                    <br/>
                    <!-- <h5>Get social</h5>
                    <div class="social-icons sicon-white bordered">
                        <a href="#" class="sicon-facebook"><i>Facebook</i></a>
                        <a href="#" class="sicon-twitter"><i>Twitter</i></a>
                        <a href="#" class="sicon-linkedin"><i>LinkedIn</i></a>
                        <a href="#" class="sicon-youtube"><i>Youtube</i></a>
                        <a href="#" class="sicon-pinterest"><i>Pinterest</i></a>
                    </div> -->
                </div>
                <!-- End Contact information -->
            </div>
        </article>
        <!-- End Article -->
        
    </div>
    
   
</div>

<!-- END PAGE | CONTACT -->
